body {
    background-color: #a9a9a9;
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: black;
    color: white; 
}

#normal {
    max-width: 25%;
    border: 5px solid black;
}

#full {
    max-width: 50%;
}